body {
    background: #FF5733;
    padding: 20px;
}

article {
    background: white;
    width: 300px;
    padding: 20px;
    position: relative;
}
article::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    height: 20px;
    width: 100%;
    background: url("rip.svg")
    bottom center;
}