/*body {
    background: #FF5733;
    padding: 20px;
}

article {
    background: white;
    width: 300px;
    padding: 20px;
    position: relative;
}*/

/*.element {
    background-image: url("/images/rip.svg");
}*/